@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <h3>Welcome, @User.Identity.Name!</h3>

    <form method="post" asp-controller="Users" asp-action="Logout">
        <input type="submit" value="Logout" />
    </form>
}
else
{
    <h3>Welcome!</h3>
    <p>@Html.ActionLink("Authorize", "Login", "Users") to get full access</p>
}
