@{
    ViewData["Title"] = "Home Page";
}

<div style="display: flex; flex-direction: column; align-items: center;">
@if (User.Identity.IsAuthenticated)
{
    <h3>Welcome, @User.Identity.Name!</h3>
}
else
{
    <h3>Welcome!</h3>
    <p>@Html.ActionLink("Authorize", "Login", "Users") to get full access</p>
}
</div>
